exportPattern("^[[:alpha:]]+")
importFrom(foreach,"%dopar%")
importFrom(stats, "IQR", "aggregate", "approx", "complete.cases","median", "quantile", "sd", "setNames")
importFrom(utils, "installed.packages", "tail","head","object.size")
