exportPattern("^[[:alpha:]]+")
importFrom(foreach,"%dopar%")
importFrom(stats, "IQR", "aggregate", "approx", "complete.cases","median", "quantile", "sd", "setNames")
importFrom(utils, "object.size")
